# Ignore data folder
data/full_dataset
logs/
code/simclr-pytorch-reefs/models/__pycache__/
code/simclr-pytorch-reefs/myexman/
code/simclr-pytorch-reefs/evaluation/__pycache__
code/simclr-pytorch-reefs/evaluation/wandb/
code/simclr-pytorch-reefs/evaluation/model_states_i2map_simclr
scratch/baseline
code/simclr-pytorch-reefs/evaluation/embeddings/raw_embeddings/
code/simclr-pytorch-reefs/evaluation/embeddings/raw_embeddings
code/simclr-pytorch-reefs/evaluation/embeddings/log_metrics/



